
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
.h1-style{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    color: #00BBDD;
}

.bg-deepblue{
    background-color: #1e283c;
}

.link-hover a:hover{
    color: #00BBDD;
}
.carrousel-conteiner{
    background-color: aqua;
    /* overflow: hidden; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}
.images-carrousel{
    width: 100%;
    height: 600px;
    overflow: hidden;

}


.carrousel-text{
    width: 100%;
    height: 600px;
    background-color: hsla(0, 0%, 100%, 0.906);
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.carrousel-text h1{
    text-align: center;
    width: 40%;
    max-width: 600px;
}

.carrousel-text p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    width: 40%;
    text-align: center;
}
/* tarjetas y subtítulo */
.conteiner{
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: start;
}

.card-conteiner{
    background-color: hsla(220, 33%, 18%, 0.004);
    border-radius: 15px;
    width: 350px;
    padding: 15px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.card-conteiner img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}
.card-conteiner h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #00BBDD;
    text-align: center;

}

.card-conteiner a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-decoration: none;
    background-color: #00BBDD;
    color: #ffffff;
    padding: 10px;
    width: 49%;
    border-radius: 10px;
}

.btn-card{
    display: flex;
    justify-content: center;
    gap: 10px;
    text-align: center;
}
.home-cards{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.home-cards h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 2rem;
    color: #00BBDD;    
}

/* Footer */

.foot-container{
    margin-top: 30px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.foot-container img{
    width: 100px;
}

.footer-link{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 15px;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    
}

.footer-link a{
    text-decoration: none;
    color: #00BBDD;
}

.footer-icons{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 15px;
}

/* clases contacto */

.conteiner-contacto{
    margin-top: 100px;
    display: flex;
}
.conteiner-contacto button{
    background-color: #00BBDD;
    border: none;

}

.conteiner-contacto button:hover{
    background-color: #008197;
    border: none;

}

.main-contact{
    margin: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;

}

/* Servicios */
.main-serv{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cont-serv{
    margin-top: 100px;
}

.cont-serv .card-conteiner h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: #00BBDD;
    text-align: center;

}
 
.conteiner-serv{
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: start;
}

.card-conteiner-serv{
    background-color: hsla(220, 33%, 18%, 0.004);
    border-radius: 15px;
    width: 350px;
    padding: 15px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}

.card-conteiner-serv img{
    width: 50%;
    border-radius: 10px;
    
}
.card-conteiner-serv h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #00BBDD;
    text-align: center;

}

.card-conteiner-serv a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-decoration: none;
    background-color: #00BBDD;
    color: #ffffff;
    padding: 10px;
    width: 49%;
    border-radius: 10px;
}




